
.box-register {
  font-family: TATSanaSuksaBold;
  text-align: center;
  margin: 26px 0px;
  font-weight: bold;
}

.time {
  margin-top: -10px;
  font-size: 48px;
  color: #E6332A;
}
.announce {
  background: #213ABF;
  font-size: 18px;
}